<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Forms</title>
</head>

<body>
     <!-- include header -->
     <%- include('include/_header') %>
     <!-- /include header -->

     <form id="open-form" action="/insert" method="POST">
         
              <div class="form-group">
                   <label for="name">Course-Name</label>
                   <input type="text" class="form-control" name="name" id="name" placeholder="Course-Name" required>
              </div>
              <div class="form-group">
                   <label for="duration">Course-Duration</label>
                   <input type="text" class="form-control" name="duration" id="duration" placeholder="Course-Duration" required>
              </div>
              <div class="form-group">
                   <label for="fees">Course-Fees</label>
                   <input type="text" class="form-control" name="fees" id="fees" placeholder="Course-Fees" required>
              </div>
              
              <div>
                   <button type="submit" class="adbtn">Submit</button>
                

              </div>
             

         
     </form>
    

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
</body>

</html>